/* LIGHT THEME */
body[data-theme='light'] {
  background-color: #f5e9ff; /* branco suave */
  color: #1a1a1a; /* preto suave */
}

/* DARK THEME */
body[data-theme='dark'] {
  background-color: #282a36; /* fundo Dracula */
  color: #f8f8f2; /* texto claro Dracula */
}

#theme-toggle {
  cursor: pointer;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: inherit;
}

.top-bar {
  display: flex;
  justify-content: space-around; /* distribui sem afastar demais */
  align-items: center;
  padding: 10px 20px;
}

